*{
    margin: 0;
    padding: 0;
    font-family: 'DM Serif Display', serif;
}
.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    background-color:rgb(253, 225, 225);
  }
  
  .logo{
    font-size: 50px;
    color: rgba(11, 118, 32, 0.825);
    padding: 2rem;
    font-family: 'Great Vibes', cursive;
  }
  .nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 10px;
  }
  .nav ul li a {
    text-decoration: none;
    color:#000;
    font-weight: 700px;
    padding: 1rem;
  }
.banner-section{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    position: relative;
     
}
.contant{
    height: 550px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: rgba(0,0,0,0.5);
}
.text-part{
   
    text-align-last: center;
    width: 50%;
    margin: auto;
}
.text-part h1{
    font-size: 50px;
}
.text-part p{
    margin: 20px 0px;
    font-size: 20px;
}
.selected-amount{
    background-color: rgb(241, 205, 192);
    color: rgb(233, 66, 66);
    padding: 1rem;
    border: 2px solid rgb(233, 66, 66) ;
}
.help-button{
    padding: 10px 30px;
    background-color: coral;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    color:#fff;
}
.main{
    width: 90%;
    margin: auto;
    margin-top: 1rem;
} 
.donation-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align-last: center;
}
.title{
    margin-top: 1rem;
    font-size: 50px;
}
.amount{
    color: grey;
    font-size: 35px;
    margin-top: 5rem;
}
.donation-part p{
    margin-top: 1rem;
    margin: 20px 0px;
    font-size: 20px;
    color: grey;
}
.donation-part input{
    width: 40%;
    margin-top: 2rem;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1rem;
}
.help-button{
    padding: 10px 30px;
    background-color: coral;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    color:#fff;
    margin-top: 1rem;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align-last: center;
}
.helping-plan{
    margin-top: 1rem;

}
.text p{
    margin-top: 1rem;
    margin: 20px 0px;
    font-size: 20px;
    color: grey;
}
.cards{
    display: flex;
    flex-direction: row;

}
.icon{
    margin: 2rem;
}
.plan-title{
    margin: 1rem;
    font-size: 30px;
}
.plan{
    color: gray;
    font-size: 20px;
    margin: 1rem;
}
.food{
    width: 30%;
    background-color: rgb(222, 248, 248);
    padding: 1rem;
    height: 300px;
    margin: 2%;
}
.shelter{
    width: 30%;
    background-color: rgb(245, 221, 237);
    padding: 1rem;
    height: 300px;
    margin: 2%;
}
.education{
    width: 30%;
    background-color: rgb(248, 232, 215);
    padding: 1rem;
    height: 300px;
    margin: 2%;
}
.first-part{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
.image-part{
    width: 40%;
}
.image-part img{
    width: 95%;
    padding: 2rem;
}
.text-side{
    width: 40%;
    margin-left: 5rem;  
}
.text-side p{
    color: grey;
    font-size: 20px;
}
.text-side a{
    padding: 10px 30px;
    background-color: coral;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color:#fff;
    margin-top: 8rem;
    text-decoration: none;
}
.second-part{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
.join-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align-last: center;
    padding: 2rem;
    width: 100%;
   
}
.join-us input{
    margin: 2rem;
    width: 80%;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1rem;
}
.join-us p{
    margin-top: 1rem;
    color: grey;
    font-size: 25px;
}
.achievments img{
    width: 70px;
}
.quets{
    width: 40%;
}
.achievments{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.quets h2{
    color: grey;
}
.achievments-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align-last: center;
    padding: 2rem;
    color: gray;
}
.members{
    margin: 5rem
}
.socials img{
    width: 30px;
}
footer{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #fff;
    background-color: rgba(46, 46, 163, 0.871);
    height: 100px;
}
.socials img{
    margin: 10px;
}